<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.Calculator"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:label="VC4 Calculator"
                 android:icon="@drawable/vc4">
        <activity android:name="Calculator"
                  android:label="VC4 Calculator"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GraphicActivity"
                  android:label="VC4 Calculator graphic"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation"/>
    </application>
</manifest>
